.navbar {
  background-color: var(--verdigris);
  height: 56px;
  font-size: 0.875rem;
  line-height: 0.875rem;
  /* box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.849); */
  padding: 0 8%;
  position: fixed;
}
.navbar .nav-item .nav-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s ease;
}
.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link.active {
  color: var(--fluorescent-cyan);
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #153e52;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}